body {
    background-color: #FDFBEE;
}

.career-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.career-card {
    background-color: #57B4BA;
    padding: 20px;
    border-radius: 69px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

h2 {
    color: #fff;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
    background-color: #FE4F2D;
    color: white;
    border: none;
    border-radius: 69px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: white;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
